./idea
census_dev/cenpy/
/census_dev/config.ini
/census_dev/bg_zip_city.csv
/scraper_dev/database.ini
/scraper_dev/etl_test.py
census_dev/.idea/.name
census_dev/.idea/workspace.xml
.idea/vcs.xml
.idea/workspace.xml
*.pyc
.idea/GreentrikeMSBA.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
census_dev/.RData
census_dev/.Rhistory
Optimize/kNN/.RData
.idea/dataSources/514d3224-681a-400a-bfbf-707dddcf863b/storage_v2/_src_/database/TEST.kjwnAA/schema/pg_catalog.0S1ZNQ.meta
.idea/dataSources/514d3224-681a-400a-bfbf-707dddcf863b/storage_v2/_src_/database/TEST.kjwnAA/schema/information_schema.FNRwLQ.meta
.idea/dataSources/514d3224-681a-400a-bfbf-707dddcf863b/storage_v2/_src_/database/TEST.kjwnAA.meta
.idea/dataSources/514d3224-681a-400a-bfbf-707dddcf863b.xml
.idea/dataSources.xml
census_dev/newData_1_0.csv
census_dev/newData_1_1.csv
census_dev/newData_1_2.csv
census_dev/newData_3_0.csv
census_dev/newData_3_1.csv
census_dev/newData_3_2.csv
census_dev/newVar_1_0.csv
census_dev/newVar_1_1.csv
census_dev/newVar_1_2.csv
census_dev/newVar_3_0.csv
census_dev/newVar_3_1.csv
census_dev/newVar_3_2.csv
Optimize/NuralNet/Config_File.csv
